.btn-white {
	background: white;
	font-family: 'Lora', serif;
	font-size: 15px;
	padding: 2px 5px;
	border-radius: 2px;
	font-weight: bold;
}
.btn-white:hover {
	color: white;
	box-shadow: rgba(255, 255, 255, 2);
	letter-spacing: 1px;
	background-color: grey;
}

